.outter-box{
    width:fit-content;
    height: 30px;
    background-color: #fff;
    padding: 0 8px;
    line-height: 30px;
    position: absolute;
    top: 35px;
    left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 10px; */
    z-index: 99;
    text-wrap:nowrap;
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.innter-box{
    width: auto;
    min-width: 300px;
    position: relative;
}
.outter-box .innter-box p{
    width: fit-content;
}