<app-spinner *ngIf="isLoading"></app-spinner>

<div class="signup-container">

  <div class="errorBox" *ngIf="error">
    <div class="alert alert-danger">{{ error }}</div>
  </div>

    <form class="signup-form" #signup="ngForm" (ngSubmit)="onSignup(signup?.value)">
        <div class="form-container">
      <h2>Sign Up</h2>

      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" ngModel name="name" required>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" ngModel name="email" required email>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" ngModel name="password" required minlength="8">
      </div>

      <div class="checkbox-group">
        <input type="checkbox" id="terms" ngModel name="terms" required>
        <label for="terms" style="margin-left: 10px;">Accept Terms & Conditions</label>
    </div>
      <button type="submit" class="signup-btn" [disabled]="signup.invalid">Sign Up</button>
      <p class="login-link">Already have an account? <a [routerLink]="['/login']">Login here</a></p>
      </div>
    </form>
</div>