.positionBox{
    position: relative;
    display: flex;
    align-items: center;
}

.json-button {
    width: 173px;
    /* font-size: 16px; */
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 8px ;
    background-color: #fff;

  }

  .json-button span{
    display: block;
    width: 40px;
    overflow: hidden;
  }
  
  .json-button img {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 30px;
    /* height: 20px; */
  }
  
  .json-button:hover {
    background-color: #ddd; /* Darker Green */
    /* margin-left: 0; */   
    /* box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); */
    /* transform: scale(1.05); */
  }
  
  .json-button:active {
    transform: scale(0.25);
  }
  