.positionBox{
  display: flex;
  justify-content: center;
}

.json-btn{
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center; 
  background-color: transparent; 
  border: none;
}

.img-box{
  width: 30px;
  height: 30px;
}

p{
  margin: 0;
  padding-left: 10px;
}